*{
  margin:0px;
  padding:0px;

}
/* 
p{
  margin:300px 0px 0px 700px;
  font-size:large;
}
button{
  margin:100px 0px 0px 700px;
} */
div{
  column-count: 3;
}
p,button{
    margin-top:70px;
    margin-left:500px;
}